@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 :root {
  --primary-color: #043a5a;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #c0bfbd;
  --xxx-color:#b5b8b7;
}



/* **************app ************************ */

.danger {
  background-color: rgb(207, 58, 58);
  width: 100%;
  margin-bottom: 0.3rem;
  margin-top:0rem;
  text-transform: capitalize;
  padding:0.5rem;
  cursor:initial;
  border:none;
  color:#fff;
  font:inherit
  
  }
.danger span {
  float: right;
  cursor: pointer;
}